 
<h4><a name="n047776"></a><a href="/price_guide/brandy#n047776">Courvoisier VSOP Cognac</a></h4>
<p>A 'Fine Champagne' cognac made exclusively from the grande and petite champagnes which are the best quality grapes from the Cognac region.  Aged for 8-12 years in Limousin and Troncais oak barrels.  Gold/amber color.  Silky, smooth with some chocolate overtones and a nutty, slightly citrusy finish. Hints of vanilla, grilled almonds and port wine. Floral Bouquet.   VSOP Stands for Very Special Old Pale.</p>
<hr>
<h4><a name="n047785"></a><a name="n047780"></a><a href="/price_guide/brandy#n047785">Courvoisier V.S. Cognac</a></h4>
<p>Brandy from the Cognac region of France.  VS stands for Very Special.  Some citrusy flavors, more acidic than other cognacs.  Good for mixing.  Aged 7-8 years.</p>
<hr>
<h4><a name="n048106"></a><a name="n048100"></a><a href="/price_guide/brandy#n048106">Hennessy V.S. Cognac</a></h4>
<p>Imported cognac from France. Full-bodied with a pronounced aroma of oak and hazelnuts. Rich, floral taste with tones of red berries and vanilla.  A blend of 40 brandies (eau de vie) from the four premier crus (growing areas) of the Cognac region of France.  Still operated by the Hennessy family.  The VS stands for Very Superior and means that the cognac is aged for at least 2.5 years.</p>
<hr>
<h4><a name="n048116"></a><a href="/price_guide/brandy#n048116">Hennessey VSOP Cognac</a></h4>
<p>A blend of over 60 individual eaux-de-vie, or aged cognacs that are aged and blended in old oak casks. Deep orange-amber hue. Delicate, faint traces of oak wood and slightly peppery.  Medium-bodied. Light aromas of clove and cinnamon.  Flavors of honey with a slight hint of licorice.  Lingering, complex finish.  The Beverage Testing Institute gives it 87 (highly recommended) points. </p>
<hr>
<h4><a name="n048276"></a><a href="/price_guide/brandy#n048276">Jacques Cardin VSOP Cognac</a></h4>
<p>Imported VSOP (Very Superior Old Pale means it has been aged at least 4.5 years) brandy from the Cognac region of France.  Made with a blend of Fins Bois and Petite Champagne grapes, aged at least four years in small French oak barrels. Intense floral aromas with sweet vanilla undertones.  Medium-bodied.  Long gingerbread and honey finish.</p>
<hr>
<h4><a name="n049176"></a><a href="/price_guide/brandy#n049176">Remy Martin VS Cognac</a></h4>
<p>Fine Champagne cognac (grape brandy from the Cognac region of France).  The Remy company was founded in 1724. The VS (very superior) is pale in color and has tart aromas of citrus.  The flavor is smooth and grapy.  The finish is only slightly warm.</p>
<hr>
<h4><a name="n049186"></a><a name="n049071"></a><a href="/price_guide/brandy#n049186">Remy Martin VSOP Cognac</a></h4>
<p>A fine Champagne cognac (brandy from the Cognac region of France) from Remy Martin which was started in 1724.  Darker amber color than the VS.  The VSOP stands for very superior old pale.  Fresh, full nose.  Notes of vanilla, limousin oak, dried rose and apricot.  Very mellow with a short, slightly warm finish.  An easy cognac for the beginning cognac drinker.</p>
<hr>
<h4><a name="n049376"></a><a href="/price_guide/brandy#n049376">Salignac VS Cognac</a></h4>
<p>Cognac imported from the Cognac region of France.  Golden and light in color. Fruity and rich with a fresh oaky taste. Full-bodied and clean. Salignac Cognac contains a selection of cognacs from the best grape growing regions in France. Enjoy straight in a snifter or over ice.</p>
<hr>
<h4><a name="n049816"></a><a href="/price_guide/brandy#n049816">Calvados Boulard Grand Solage</a></h4>
<p>Apple brandy from the Normandy region of France. Made from apple cider that is distilled twice and aged in Limousin oak casks.  A  blend of Calvados varieties  which vary in age from 3 to 5 years. Characterized by its apple fragrance and its amber color. The pure initial taste of the Grand Solage is followed by a fruity flavor and the vanilla taste of oak. Apple brandies such as this that are aged for long periods are similar in flavor to cognac.Serve with a meal; it is also highly appreciated as an aperitif with tonic or on ice.  </p>
<hr>
<h4><a name="n049946"></a><a href="/price_guide/brandy#n049946">Deville Brandy</a></h4>
<p>Imported French grape brandy. Can be used in a variety of cocktails such as a Brandy Alexander (brandy, creme de cacao and cream), in hot coffee or for cooking.  </p>
<hr>
<h4><a name="n050176"></a><a name="n050178"></a><a href="/price_guide/brandy#n050176">Jacques Cardin Brandy</a></h4>
<p>Imported French brandy bottled in the U.S..</p>
<hr>
<h4><a name="n050686"></a><a name="n050688"></a><a href="/price_guide/brandy#n050686">St. Remy VSOP French Brandy</a></h4>
<p>Brandy from the Cognac region of France, though it is not classified as a cognac.  Aged for 1-2 years, of which 6 months are in small oak barrels.Fruity aromas of  cherry and raspberry with touches of vanilla and oak. Rich amber color.  Complex flavors - at first strong and dry, then rounded. Smooth and rich but not sweet.  Use in your favorite brandy cocktail or for food recipes that call for a fine, French brandy.</p>
<hr>
<h4><a name="n051696"></a><a href="/price_guide/brandy#n051696">Stock '84 Brandy</a></h4>
<p>Imported VSOP brandy from Italy. Made with the finest Italian grapes and aged in oak casks for smoothness.  The 'buying guide to spirits' says it is 'Light amber. Light-bodied. Soft texture.'  Flavors of 'Dates, pecan, clove. Delicate and easy on the palate. Delicate Dried fruit notes linger on the finish'  and gives it 82 points (Recommended).</p>
<hr>
<h4><a name="n052312"></a><a name="n052316"></a><a name="n052318"></a><a href="/price_guide/brandy#n052312">Christian Brothers Brandy</a></h4>
<p>American brandy with a deep topaz color and sweet almost candied nose.  The flavors however are quite dry and the alcohol is pronounced with a bit of a bite.   </p>
<hr>
<h4><a name="n052374"></a><a name="n052376"></a><a href="/price_guide/brandy#n052374">Coronet VSQ Brandy</a></h4>
<p>American brandy.  Light amber color.  Mild bouquet and light grapy flavor with a dash of caramel.</p>
<hr>
<h4><a name="n052563"></a><a href="/price_guide/brandy#n052563">E&J XO Brandy</a> <img src="/sites/liquorretail/files/images/icons/new-badge.png" width=37 height=17 align=absmiddle border=0 alt="(new!)"></a></h4>
<p>Grape brandy made in the U.S.  Sweet vanilla, creamy toffee, brown sugar and soft maple characteristics of toasted oak. Hints of lavender and hibiscus on the nose, with flavors of dried pears and figs. Smooth, bold, complex finish. Serve over ice, with fruit juice, soft drinks, or other cocktail mixers. Great for cooking. Gold Medal winner at both the 2011 San Francisco World Spirits Competition and the 2011 SIP (Spirits International Prestige) Awards.</p>
<hr>
<h4><a name="n052579"></a><a name="n052581"></a><a name="n052582"></a><a name="n052584"></a><a href="/price_guide/brandy#n052579">E & J Superior Res. VSOP</a></h4>
<p>American grape brandy (Very Superior Old Pale) made by the Gallo wine company.  Pale amber/ honey color.  Sweet aromas of fruit and caramel.  Sweet flavors of caramel and nougat candy.  Very little grape flavor.</p>
<hr>
<h4><a name="n052596"></a><a name="n052598"></a><a href="/price_guide/brandy#n052596">E & J Brandy</a></h4>
<p>American brandy made by the Gallo wine company.  Amber color.  Bouquets of fruit particularly banana and apricot. Dry with a smooth texture.  Mild finish of fruit, spice and caramel.   </p>
<hr>
<h4><a name="n053216"></a><a href="/price_guide/brandy#n053216">Paul Masson Grande Amber Brndy</a></h4>
<p>American brandy made by the same people that produce Paul Masson wines. Aged three years in oak.  Medium amber color.  Grapy, fruity bouquet.  Smooth, clean and slightly tart.  Medium-long finish.</p>
<hr>
<h4><a name="n053536"></a><a href="/price_guide/brandy#n053536">Laird's Applejack</a></h4>
<p>Apple brandy that is the oldest native distilled spirit beverage in the U.S. Made with tree ripened apples, double distilled and aged in charred oak barrels for four to eight years.  It has received a silver medal at the World Spirits Championships and is considered a Best Buy by Wine Enthusiast.</p>
<hr>
<h4><a name="n054434"></a><a name="n054436"></a><a name="n054438"></a><a href="/price_guide/brandy#n054434">Mr. Boston Apricot Brandy</a></h4>
<p>Apricot flavored brandy made and bottled in Kentucky.  Flavored brandies are usually slightly higher in proof than liqueurs, cremes or schnapps.</p>
<hr>
<h4><a name="n054906"></a><a href="/price_guide/brandy#n054906">Leroux Blackberry Brandy</a></h4>
<p>The Leroux family began making cordials in Brussels four generations ago.  Leroux is now made in the U.S. and is designated Kosher.  Flavored brandies are usually slightly higher in proof than liqueurs, schnapps or cremes.</p>
<hr>
<h4><a name="n055061"></a><a name="n055064"></a><a name="n055065"></a><a name="n055066"></a><a name="n055068"></a><a href="/price_guide/brandy#n055061">Mr. Boston Blackberry Brandy</a></h4>
<p>Blackberry flavored brandy made and bottled in Kentucky.  Flavored brandies are usually slightly higher in proof than liqueurs, schnapps or cremes.</p>
<hr>
<h4><a name="n055484"></a><a name="n055486"></a><a href="/price_guide/brandy#n055484">Mr. Boston Cherry Brandy</a></h4>
<p>Cherry flavored brandy made and bottled in Kentucky.  Flavored brandies are usually slightly higher in proof than liqueurs, schnapps or cremes.</p>
<hr>
<h4><a name="n055824"></a><a name="n055826"></a><a name="n055828"></a><a href="/price_guide/brandy#n055824">Mr. Boston Ginger Brandy</a></h4>
<p>Ginger flavored brandy made and bottled in Kentucky.  Flavored brandies are usually slightly higher in proof than liqueurs, schnapps or cremes.</p>
<hr>
<h4><a name="n056306"></a><a name="n056308"></a><a href="/price_guide/brandy#n056306">Allen's Coffee Brandy</a></h4>
<p>American made cordial that combines all natural coffee flavors with a brandy base.  Sweet and higher in proof than most other types of cordials such as liqueurs or schnapps.  M.S. Walker has been in the business of making cordials for over 50 years.</p>
<hr>
<h4><a name="n056574"></a><a name="n056576"></a><a name="n056578"></a><a href="/price_guide/brandy#n056574">Mr. Boston Coffee Brandy</a></h4>
<p>Coffee flavored brandy made and bottled in Kentucky.  Usually flavored brandies are slightly higher in proof than liqueurs, schnapps or cremes.  Flavored brandies are made by combining the fruit, or in this case coffee, with plain brandy.</p>
<hr>
<h4><a name="n900061"></a><a href="/price_guide/brandy#n900061">Stair's Pear Brandy</a></h4>
<p>Pear Brandy produced in Vershire, Vermont  by Flag Hill Distillery.  Made from 'Bartlett' pears which were originally bred by an English schoolmaster named Stair in 1770, thus Stair's Pear.  This is a true eau de vie or clear fruit brandy.  An excellent after-dinner drink, best enjoyed slightly chilled.</p>
<hr>
<h4><a name="n900166"></a><a href="/price_guide/brandy#n900166">Pomme de Vie VT Apple Brandy</a></h4>
<p>Apple brandy hand crafted in Vershire, Vermont.  This 'pomme de vie' is inspired by the French apple brandy, Calvados. A smooth, clear distillation of the essential flavor and aromas of apples.  Made with unsprayed apples, slowly fermented and barrel aged to make hard cyder.  Then double distilled over an open flame to produce the brandy.  Serve as an after dinner drink, apres ski or in any recipe calling for brandy or Calvados.</p>
<hr>
<a name="n047780">&nbsp;</a><a name="n047786">&nbsp;</a><a name="n048100">&nbsp;</a><a name="n049071">&nbsp;</a><a name="n049377">&nbsp;</a><a name="n050178">&nbsp;</a><a name="n050688">&nbsp;</a><a name="n052316">&nbsp;</a><a name="n052318">&nbsp;</a><a name="n052376">&nbsp;</a><a name="n052581">&nbsp;</a><a name="n052582">&nbsp;</a><a name="n052584">&nbsp;</a><a name="n052598">&nbsp;</a><a name="n052658">&nbsp;</a><a name="n054436">&nbsp;</a><a name="n054438">&nbsp;</a><a name="n055064">&nbsp;</a><a name="n055065">&nbsp;</a><a name="n055066">&nbsp;</a><a name="n055068">&nbsp;</a><a name="n055486">&nbsp;</a><a name="n055826">&nbsp;</a><a name="n055828">&nbsp;</a><a name="n056308">&nbsp;</a><a name="n056328">&nbsp;</a><a name="n056576">&nbsp;</a><a name="n056578">&nbsp;</a><p><i>Descriptions are not available for all items yet.  Check back later for more.</i></p>
<hr>
<p><i>Some of the above descriptions are based on information in the following sources:</i></p>
<ul>
  <li><i>Kindred Spirits</i> by F. Paul Pacult.  Hyperion, New York, New York, 1997.
  <li><i>Michael Jackson's Complete Guide to Single Malt Scotch</i> by Michael Jackson.  Dorling Kindersky Limited, London and Running Press Book Publishers, Philadelphia, Pennsylvania, 1989-91.
  </ul>
