 
<p><i>Some of the above descriptions are based on information in the following sources:</i></p>
<ul>
  <li><i>Kindred Spirits</i> by F. Paul Pacult.  Hyperion, New York, New York, 1997.
  <li><i>Michael Jackson's Complete Guide to Single Malt Scotch</i> by Michael Jackson.  Dorling Kindersky Limited, London and Running Press Book Publishers, Philadelphia, Pennsylvania, 1989-91.
  </ul>
