<p><i>Some of the above descriptions are based on information in the following sources:</i></p>
<ul>
  <li><i>Kindred Spirits</i> by F. Paul Pacult.  Hyperion, New York, New York, 1997.
  <li><i>Michael Jackson's Complete Guide to Single Malt Scotch</i> by Michael Jackson.  Dorling Kindersky Limited, London and Running Press Book Publishers, Philadelphia, Pennsylvania, 1989-91.
  </ul>

			</span></td>
        </tr>
        <tr> 
          <td class="text">&nbsp;</td>
        </tr>
      </table>
    </td>
    <td width="21%" valign="top"> <br>
      <br>
      <table width="150" border="0" cellspacing="1" cellpadding="3" name="Sidebar" class="infobox">
        <tr> 
          <td align="left" class="infoboxtext"> <img src="http://www.vermont.gov/vt_images/relatedlinksheading.gif" alt="" width="127" height="17" border="0" alt="Related Links"></td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="1">
              <tr> 
                <td valign="baseline" class="text"><img src="http://www.vermont.gov/vt_images/bullet.gif" alt=">" border="0" width=8 height=9></td>
                <td class="infoboxtext"><a href="../descriptions/">Product Descriptions</a></td>
              </tr>
              <tr> 
                <td valign="baseline" class="text"><img src="http://www.vermont.gov/vt_images/bullet.gif" alt=">" border="0" width=8 height=9></td>
                <td class="infoboxtext"><a href="../priceguide/%lsection.html">%section Price Guide</a></td>
              </tr>
              <tr> 
                <td valign="baseline" class="text"><img src="http://www.vermont.gov/vt_images/bullet.gif" alt=">" border="0" width=8 height=9></td>
                <td class="infoboxtext"><a href="../promos/">Guides to Savings</a></td>
              </tr>
              <tr> 
                <td valign="baseline" class="text"><img src="http://www.vermont.gov/vt_images/bullet.gif" alt=">" border="0" width=8 height=9></td>
                <td class="infoboxtext"><a href="../priceguide/specialorders.html">Place a special order!</a></td>
              </tr>
              <tr> 
                <td valign="baseline" class="text"><img src="http://www.vermont.gov/vt_images/bullet.gif" alt=">" border="0" width=8 height=9></td>
                <td class="infoboxtext"><a href="../../sitemap.html">Site Map</a></td>
              </tr>
              <tr> 
                <td valign="baseline" class="text"><img src="http://www.vermont.gov/vt_images/bullet.gif" alt=">" border="0" width=8 height=9></td>
                <td class="infoboxtext"><a href="../../home/contacts.html">Contact Us</a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br>
    </td>
  </tr>
</table>
<script language="javascript" src="../../include/footer.js" type="text/javascript"></script>
</body>
</html>
