 
<h4><a name="n098055"></a><a href="/price_guide/vermouth#n098055">Cinzano Dry Vermouth</a></h4>
<p>Dry vermouth imported from Italy.  Pale straw color.  Earthy, off-dry nose.  'Kindred Spirits' gives it a *** (recommended) rating.</p>
<hr>
<h4><a name="n098192"></a><a name="n098194"></a><a name="n098196"></a><a href="/price_guide/vermouth#n098192">Martini & Rossi Extra Dry Vermouth</a></h4>
<p>Fortified wine from Italy that is distilled with a combination of more than 30 herbs and spices including sage, coriander, allspice and Roman comomile.  Dry vermouth means that it is not sweet and fortified means that brandy has been added to it.  Used as an ingredient in many cocktails, the most well known being the Martini.  Also used in many cooking recipes.  It is shelf stable and can be stored without refrigeration for up to a year.</p>
<hr>
<h4><a name="n098255"></a><a href="/price_guide/vermouth#n098255">Noilly Prat Dry Vermouth</a></h4>
<p>Dry vermouth imported from France.  Pale slightly yellow color.  Aromas of juniper, thyme and laurel.  Dry, clean, and refreshing taste.  Light wine and herb finish.  Good as an aperitif.  'Kindred Spirits' gives it a **** (highly recommended) rating.</p>
<hr>
<h4><a name="n098366"></a><a href="/price_guide/vermouth#n098366">Stock Extra Dry Vermouth</a></h4>
<p>Imported dry vermouth from Italy.  Pale color.  Fruity aromas.  Tart, crisp flavors. Good for mixing. </p>
<hr>
<h4><a name="n098535"></a><a href="/price_guide/vermouth#n098535">Cinzano Rosso Vermouth</a></h4>
<p>Sweet vermouth imported from Italy.  Dark tawny/brown color.  Aromas of grapes and bitters.  Flavors of grapes, roots, quinine, and citrus.  The finish has flavors of orange and pink grapefruit.  'Kindred Spirits' gives it a *** (recommended) rating.</p>
<hr>
<h4><a name="n098735"></a><a href="/price_guide/vermouth#n098735">M&R Martini Rosato</a></h4>
<p>Aperitif imported from Italy.  Rosato is a blend of red and white wines, using light Mediterranean aromatics (flavorings) such as citrus fruits, crisp raspberry, clove, cinnamon, and nutmeg. Fresh, fruity flavors of lemon and raspberry followed by deep, balanced, spicy notes of cinnamon, clove, and nutmeg yielding a delicate, yet complex, taste. Mix 3 parts Martini Rosato with 1 part pomegranate juice and top with a wedge of fresh fruit; or, mix 1 part Rosato with 2 parts Proseco, serve over ice in a sparkling wine glass and garnish with a fresh raspberry for a 'Martini Royal.'</p>
<hr>
<h4><a name="n098742"></a><a name="n098744"></a><a name="n098746"></a><a href="/price_guide/vermouth#n098742">Martini & Rossi Sweet Vermouth</a></h4>
<p>Fortified wine from Italy that is distilled with a combination of more than 30 herbs and spices including sage, coriander, allspice, and Roman camomile.  Used as an ingredient in many cocktails, the most well known being the Manhattan.  Sweet vermouth is red in color.  It is fortified with brandy making it a higher proof than unfortified wines.  Also used in many cooking recipes.  Vermouth has a stable shelf life and can be stored for up to a year without refrigeration.</p>
<hr>
<h4><a name="n098785"></a><a href="/price_guide/vermouth#n098785">Noilly Prat Sweet Vermouth</a></h4>
<p>Sweet vermouth imported from France.  Brown/russet color.  Aromas of spices, minerals, prunes, and quinine.  Moderately sweet and wine-like.  A good aperitif.  'Kindred Spirits' gives it a *** (recommended rating).</p>
<hr>
<h4><a name="n098906"></a><a href="/price_guide/vermouth#n098906">Stock Sweet Vermouth</a></h4>
<p>Sweet vermouth imported from Italy.  Mahogany color. Aromas of herbs, roots and spices. Flavors of herbs and spices. Not fruity. Moderately viscous. Good served on the rocks or as a mixer. 'Kindred Spirits' gives it a *** or recommended rating.</p>
<hr>
<h4><a name="n099154"></a><a href="/price_guide/vermouth#n099154">Gambarelli & Davitto Dry</a></h4>
<p>Domestic dry (not sweet) white vermouth.  Vermouth is a fortified wine made from wine, spirits, herbs and spices. Used as an ingredient in many cocktails the most well known being the Martini.  Also used in many cooking recipes.  Can be stored, without refrigeration, for up to a year. </p>
<hr>
<h4><a name="n099174"></a><a href="/price_guide/vermouth#n099174">Gallo Extra Dry Vermouth</a></h4>
<p>Domestic dry vermouth from one of the largest producers of wine in the world.  Dry vermouth is made from white wine that has been infused with herbs, spices, fruit peels, roots or flowers and then fortified with spirits.  Each company has their own recipe.  Dry vermouth is used in a multitude of cocktail and cooking recipes.</p>
<hr>
<h4><a name="n099382"></a><a name="n099385"></a><a href="/price_guide/vermouth#n099382">Tribuno Dry Vermouth</a></h4>
<p>Dry vermouth made in the U.S.  Pale straw color. Sweet aromas of ripe grapes, pine needles, and spearmint.  Sweet for an 'extra dry'.  Grapy flavors.  Good for mixing.</p>
<hr>
<h4><a name="n099654"></a><a href="/price_guide/vermouth#n099654">Gambarelli & Davitto Sweet</a></h4>
<p>Domestic sweet red vermouth.  Used as an ingredient in many cocktails the most well known being the Manhattan which combines sweet vermouth and whiskey.  Vermouth is an aromatized wine which means that spices, herbs and spirits have been added to the wine.  Does not require refrigeration.</p>
<hr>
<h4><a name="n099674"></a><a href="/price_guide/vermouth#n099674">Gallo Sweet Vermouth</a></h4>
<p>Sweet red vermouth from one of sthe largest producers of wine in the world.  Vermouth is a wine base to which various herbs, spices, fruit peels, roots or flowers have been added.  This mixture is then combined with spirits to fortify it.  Sweet vermouth is used in a multitude of cocktails, the most well known being the Manhattan, and also for cooking.</p>
<hr>
<h4><a name="n099892"></a><a name="n099895"></a><a href="/price_guide/vermouth#n099892">Tribuno Sweet Vermouth</a></h4>
<p>Sweet vermouth made in the U.S.  Brown color.  Candied nose of ripe peaches.  A good mixer.</p>
<hr>
<a name="n098194">&nbsp;</a><a name="n098196">&nbsp;</a><a name="n098744">&nbsp;</a><a name="n098746">&nbsp;</a><a name="n099385">&nbsp;</a><a name="n099895">&nbsp;</a><p><i>Descriptions are not available for all items yet.  Check back later for more.</i></p>
<hr>
<p><i>Some of the above descriptions are based on information in the following sources:</i></p>
<ul>
  <li><i>Kindred Spirits</i> by F. Paul Pacult.  Hyperion, New York, New York, 1997.
  <li><i>Michael Jackson's Complete Guide to Single Malt Scotch</i> by Michael Jackson.  Dorling Kindersky Limited, London and Running Press Book Publishers, Philadelphia, Pennsylvania, 1989-91.
  </ul>
